@import "../mixins";

.project {
  .project-nav {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 8px;

    .header2 {
      overflow: hidden;
      background-color: #f00 !important;
    }

    .date-created {
      justify-self: end;
    }
  }

  .boards-container {
    display: grid;
    gap: 18px;
    // gridTemplateColumns: `repeat(${[0].length + 1}, auto)` on Project.tsx file
    grid-auto-columns: auto;
    overflow-x: scroll;
    background-color: #f00;

    .board {
      height: auto;
      width: 300px;
    }

    .add-board {
      width: max-content;
      // height: min-content;
    }
  }

  @include desktop {
    .boards-container {
      .board {
        width: 350px;
      }

      .add-board {
        width: 100%;
      }
    }
  }
}
