@import "../mixins";

.project {
  .project-nav {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    margin-bottom: 12px;
    gap: 12px;

    .arrow-back-nav {
      width: 32px;
      height: 32px;
      padding: 0 !important;
      @include flexCenter;
      border-radius: 4px !important;
      background-color: #f6f6fa !important;
    }

    .header2 {
      overflow: hidden;
    }

    .date-created {
      justify-self: end;
    }
  }

  .boards-container {
    display: grid;
    gap: 18px;
    border-radius: 12px;
    // gridTemplateColumns: `repeat(${[0].length + 1}, auto)` on Project.tsx file
    min-height: 200px;
    max-height: 100vh;
    padding-bottom: 12px;
    grid-auto-columns: auto;
    overflow-x: scroll;

    .board-maker {
      height: min-content;
      width: 200px;

      .header2 {
        margin-bottom: 8px;
      }

      form {
        display: grid;
        gap: 12px;
        width: 100%;

        .board-maker-buttons {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 12px;
        }
      }
    }

    .add-board {
      // width: max-content;
      width: calc(100vw - (18px * 2));
      height: min-content;
    }
  }

  @include desktop {
    .project-nav {
      margin-bottom: 18px;
      gap: 18px;

      .arrow-back-nav {
        width: 46px;
        height: 46px;
      }
    }

    .boards-container {
      .board-maker {
        width: 280px;
        gap: 18px;

        .header2 {
          margin-bottom: 12px;
        }
      }

      .add-board {
        width: max-content;
      }
    }
  }
}
