@import "../../../mixins";

.selected-card-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.2);
  z-index: $idx_mainModal;
  overflow: none;

  .selected-card-modal {
    width: 100%;
    height: 100%;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .selected-card-nav {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .selected-card-header {
        display: flex;
        align-items: center;
        gap: 8px;

        // show input = false
        .edit-card-title-input {
          border: none;
          box-shadow: inset 0 0 0 1px $primary;
          margin: 0;
          background: transparent;
          max-width: 200px;
          min-width: 100px;
          padding: 4px;
          border: none;
          border-radius: 3px;

          &:focus {
            box-shadow: inset 0 0 0 2px $primary;
          }
        }

        // show input = true
        .edit-card-title {
          width: 32px;
          height: 32px;
          padding: 4px;
          @include flexCenter;
          border-radius: 4px;
          background-color: $inputBG;
          transition: 0.1s ease-in;

          &:hover {
            background-color: $primary;
            color: #fff;
          }
        }
      }

      .card-modal-actions {
        display: flex;
        gap: 8px;

        .close-card-modal,
        .delete-card-modal {
          width: 32px;
          height: 32px;
          @include flexCenter;
          border-radius: 4px;
          background-color: $inputBG;
          transition: 0.1s ease-in;

          &:hover {
            color: #fff;
            background-color: $error;
          }
        }

        @include desktop {
          gap: 12px;
        }
      }
    }

    // .edit-card-description-button {

    // }

    @include tablet {
      width: 80%;
      height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;

      .selected-card-nav {
        .selected-card-header {
          // show input = false
          .edit-card-title-input {
            max-width: 350px;
            min-width: 200px;
          }
        }
      }

      .edit-card-description-button {
        width: fit-content;
        word-spacing: normal;
      }

      &::-webkit-scrollbar {
        display: block;
      }
    }

    @include desktop {
      .selected-card-nav {
        .close-card-modal {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.selected-card-undefined {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $idx_mainModal;
  overflow: none;

  .card-skeleton {
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background-color: $white;
    display: grid;
    place-items: center;
  }
}
