.selected-card-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 102;
  overflow: none;
}
.selected-card-modal-bg .selected-card-modal {
  width: 100%;
  height: 100%;
  background-color: #fcfdff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
}
.selected-card-modal-bg .selected-card-modal::-webkit-scrollbar {
  display: none;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav .selected-card-header {
  display: flex;
  align-items: center;
  gap: 8px;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav .selected-card-header .edit-card-title-input {
  border: none;
  box-shadow: inset 0 0 0 1px #5b87f8;
  margin: 0;
  background: transparent;
  max-width: 200px;
  min-width: 100px;
  padding: 4px;
  border: none;
  border-radius: 3px;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav .selected-card-header .edit-card-title-input:focus {
  box-shadow: inset 0 0 0 2px #5b87f8;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav .selected-card-header .edit-card-title {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f0f0f2;
  transition: 0.1s ease-in;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav .selected-card-header .edit-card-title:hover {
  background-color: #5b87f8;
  color: #fff;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav .card-modal-actions {
  display: flex;
  gap: 8px;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav .card-modal-actions .close-card-modal,
.selected-card-modal-bg .selected-card-modal .selected-card-nav .card-modal-actions .delete-card-modal {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f0f0f2;
  transition: 0.1s ease-in;
}
.selected-card-modal-bg .selected-card-modal .selected-card-nav .card-modal-actions .close-card-modal:hover,
.selected-card-modal-bg .selected-card-modal .selected-card-nav .card-modal-actions .delete-card-modal:hover {
  color: #fff;
  background-color: #ff3333;
}
@media (min-width: 1024px) {
  .selected-card-modal-bg .selected-card-modal .selected-card-nav .card-modal-actions {
    gap: 12px;
  }
}
@media (min-width: 700px) {
  .selected-card-modal-bg .selected-card-modal {
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
  }
  .selected-card-modal-bg .selected-card-modal .selected-card-nav .selected-card-header .edit-card-title-input {
    max-width: 350px;
    min-width: 200px;
  }
  .selected-card-modal-bg .selected-card-modal .edit-card-description-button {
    width: -moz-fit-content;
    width: fit-content;
    word-spacing: normal;
  }
  .selected-card-modal-bg .selected-card-modal::-webkit-scrollbar {
    display: block;
  }
}
@media (min-width: 1024px) {
  .selected-card-modal-bg .selected-card-modal .selected-card-nav .close-card-modal {
    width: 32px;
    height: 32px;
  }
}

.selected-card-undefined {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  overflow: none;
}
.selected-card-undefined .card-skeleton {
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background-color: #fcfdff;
  display: grid;
  place-items: center;
}/*# sourceMappingURL=SelectedCardModal.css.map */