@import "../../../mixins";

.todo {
  display: flex;
  align-items: center;
  width: min-content;
  max-width: 100%;
  gap: 4px;
  padding: 4px;
  border-radius: 4px;
  background-color: $inputBG;

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }

  input[type="text"] {
    border-radius: 2px;
    padding: 1.5px;
    min-width: 100px;
    border: none;
    @include fontProps($inter, rgba(#000, 0.8), 16px, 500);
    word-wrap: break-word;
    word-break: break-all;
    outline: none;
    max-width: calc(100% + (16px * 2));
  }

  .delete-todo {
    @include flexCenter;

    &:hover {
      color: $error;
    }
  }
}
