@import "../../mixins";

.board-options {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(#eee, 0.5);
  backdrop-filter: blur(7.5px);
  border-radius: inherit;
  padding: 12px;
  gap: 8px;

  .direction-buttons {
    display: flex;
    height: min-content;
    width: 100%;
    gap: 8px;

    .MuiButton-root {
      flex-grow: 1;
      height: min-content;
      font-size: 12px !important;
    }
  }

  .action-buttons {
    display: flex;
    gap: 8px;

    .MuiButton-root {
      white-space: nowrap;
      // height: min-content;
      font-size: 12px !important;
    }
  }

  @include desktop {
    gap: 12px;
  }
}
