@import "../../mixins";

.project-progress {
  border-top: 2px solid $inputBG;
  padding-top: 12px;
  display: grid;
  align-items: center;
  gap: 4px;
  grid-template-columns: auto 1fr;
  font-size: 12px;

  .progress-info {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px;

    .progress-bar {
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: $darker;

      .progress-hand {
        height: 4px;
        // initial width
        width: 20%;
        border-radius: 4px;
        background-color: $primary;
      }
    }
  }

  @include desktop {
    padding-top: 18px;
  }
}
