.delete-modal-bg {
  width: 1000vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  .delete-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
