@import "./mixins";

// Customize MUI contained button
.MuiButtonGroup-root {
  box-shadow: none;
}

.MuiButton-root {
  padding: 7px 14px;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 6px;
  font-family: $inter;
  box-shadow: none;

  @include desktop {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
  }
}

.MuiButton-outlined {
  border: solid 3px;
  // Same as 'padding: calc(8px - 3) calc(20px - 3);'
  padding: 5px 17px;

  &:hover {
    border: solid 3px;
  }

  @include desktop {
    padding: 9px 21px;
  }
}

// .MuiButton-text {
//   color: #f00;
// }

.mui-button {
  padding: 2px;
  border-radius: 6px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: $inter;
  box-shadow: none;

  @include desktop {
    font-size: 16px;
    padding: 16px 32px;
  }
}

// Default styles
.default-button {
  padding: 12px 24px;
  background-color: $primary;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: 0.1s ease-in;
  border-radius: 6px;
  text-decoration: none;
  @include flexCenter;

  @include desktop {
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 8px;
  }

  &:hover {
    background-color: $darker;
  }
}

.bordered-button {
  // padding:
  border: solid 4px $primary;
  background-color: transparent !important;
  color: #121212 !important;

  // Padding overriding
  padding: calc(12px - 8px) calc(24px - 8px);

  &:hover {
    color: #fff !important;
    background-color: $primary !important;
    // &:before {
    //   width: 400px;
    //   height: 400px;
    // }
  }

  @include desktop {
    padding: calc(16px - 8px) calc(32px - 8px);
  }
}

.invicible-button {
  background-color: transparent !important;
  color: #121212 !important;

  &:hover {
    background-color: #121212 !important;
    color: #fff !important;
  }
}

// BORDERED CONTAINERS
.bordered-container {
  background-color: $white;
  box-shadow: inset 0 0 0 2px $border;
  border-radius: 16px;
  padding: 12px;

  @include desktop {
    padding: 18px;
    border-radius: 24px;
  }
}

// Input textbox elements
.text-box {
  padding: 16px 12px;
  background-color: $inputBG;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  @include fontProps($inter, #121212, 16px);

  &:focus {
    outline: solid 2px $border;
  }

  &::placeholder {
    color: rgba(#121212, 0.6);
  }

  @include desktop {
    padding: 20px 16px;
  }
}

// Font sizes and styles
.header1 {
  // Large header
  $mobileSize: 42px;
  $desktopSize: 92px;

  @include fontProps($inter, #121212, $mobileSize, bold);

  @include desktop {
    font-size: $desktopSize !important;
  }
}

.header2 {
  $mobileSize: 24px;
  $desktopSize: 32px;

  @include fontProps($inter, #121212, $mobileSize, bold);

  @include desktop {
    font-size: $desktopSize !important;
  }
}

.header3 {
  $mobileSize: 18px;
  $desktopSize: 24px;

  @include fontProps($inter, #121212, $mobileSize, bold);

  @include desktop {
    font-size: $desktopSize !important;
  }
}

.label {
  $mobileSize: 12px;
  $desktopSize: 14px;

  @include fontProps($inter, #121212, $mobileSize);

  @include desktop {
    font-size: $desktopSize !important;
  }
}

.card-title {
  $mobileSize: 14px;
  $desktopSize: 16px;

  @include fontProps($inter, #121212, $mobileSize, 600);

  @include desktop {
    font-size: $desktopSize !important;
  }
}

.header-text-description {
  $mobileSize: 18px;
  $desktopSize: 23px;

  @include fontProps($inter, rgba(#121212, 0.8), $mobileSize, 500);

  @include desktop {
    font-size: $desktopSize !important;
  }
}

.body-text {
  $mobileSize: 16px;
  $desktopSize: 18px;

  @include fontProps($inter, rgba(#121212, 0.8), $mobileSize, 400);

  @include desktop {
    font-size: $desktopSize !important;
  }
}

button,
input[type="submit"] {
  @include fontProps($inter, none, 14px, 600);
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  @include desktop {
    font-size: 16px;
  }
}

// Stretch container
.stretch {
  width: calc(100% + (18px * 2));
  margin-left: -18px;

  @include desktop {
    width: calc(100% + (60px * 2));
    margin-left: -60px;
  }
}

// for scrollbars
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 2px;

  :hover {
    background-color: darken($color: $primary, $amount: 0.5);
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar {
  height: 10px;
}

// Overriding my global style

.profile-image {
  overflow: none;
  @include flexCenter;

  img {
    height: auto !important;
    width: 100% !important;
  }
}

.modal-container-background {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 60px 0;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.5);
  overflow-y: scroll;
  z-index: 101;
  @include flexCenter;

  .modal {
    filter: drop-shadow(0 4px 8px rgba(#000, 0.2));
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
