// Viewport sizes
$tablet-width: 700px;
$desktop-width: 1024px;

// Color variables
$primary: #5b87f8;
$darker: #0f1975;
$white: #fcfdff;
$error: #ff3333;
$inputBG: #f0f0f2;

$hover_blue: darken(
  $color: $primary,
  $amount: 15,
);

$border: #cfd0eb;

// Fonts
$inter: "Inter", sans-serif;
$nunito: "Nunito sans", sans-serif;

// z-index value, it's weird but i guess it will help me :)
$idx_modalBackground: 101;
$idx_navigation: 100;
$idx_modal: 99;
$idx_behindModal: 98;

@mixin fontProps($family, $color, $size: 15px, $weight: 400) {
  font-family: $family;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

// FLEX / CENTER ELEMENT
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Media Queries
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin customMediaQuery($customSize) {
  @media (min-width: #{$customSize}) {
    @content;
  }
}
