@import "./mixins";

.get-started {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;

  // .detected-accounts {
  //   // background-color: #f00;
  // }

  .create-account {
    .form-container {
      width: 100%;
      margin-top: 12px;

      #create-account-form {
        display: grid;
        grid-gap: 8px;
      }

      @include desktop {
        margin-top: 18px;
      }
    }
  }

  .input-error-message {
    width: 100%;
    padding: 12px;
    font-family: $inter;
    font-size: 14px;
    color: #fff;
    background-color: $error;
    border-radius: 6px;
    margin-top: 12px;

    @include desktop {
      padding: 18px;
      font-size: 16px;
    }
  }

  @include desktop {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;

    .create-account {
      width: 400px;
    }
  }
}
