@import "./mixins";

.projects {
  .projects-page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .create-new-project {
      display: flex;
      gap: 4px;

      .button-text {
        display: none;
      }
    }

    @include desktop {
      margin-bottom: 18px;
    }
  }

  // Project container
  .projects-container {
    $gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - $gap) / 2));
    grid-auto-rows: 250px;
    gap: $gap;

    // Main project container
    .project-card {
      position: relative;
      overflow: hidden;

      .project-options {
        width: 100%;
        height: 100%;
        background-color: rgba(#eee, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 16px;
        backdrop-filter: blur(7.5px);
        @include flexCenter;

        .options-container {
          display: grid;
          place-items: center;
          gap: 4px;

          .MuiButton-text {
            color: #121212;

            &:hover {
              background-color: $primary;
              color: #fff;
            }
          }

          .delete-project {
            background-color: $white;
            color: $error;
            width: fit-content;

            &:hover {
              background-color: $error;
              color: #fff;
            }
          }
        }
      }

      .project-contents {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.6fr 0.4fr auto;

        .project-header {
          width: 100%;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          .project-title {
            max-width: 80%;
            word-wrap: break-word;
          }
        }

        .project-tags {
          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          .tags-container {
            padding: 4px 0;

            .MuiChip-root {
              margin: 4px 4px 0 0;
              word-wrap: break-word;
            }
          }
        }

        .project-progress {
          border-top: 2px solid $inputBG;
          padding-top: 12px;
          display: grid;
          align-items: center;
          gap: 4px;
          grid-template-columns: auto 1fr;
          font-size: 12px;

          .progress-info {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 4px;

            .progress-bar {
              width: 100%;
              height: 4px;
              border-radius: 4px;
              background-color: $darker;

              .progress-hand {
                height: 4px;
                // initial width
                width: 20%;
                border-radius: 4px;
                background-color: $primary;
              }
            }
          }
        }
      }

      .toggle-project-options {
        width: 24px;
        height: 24px;
        @include flexCenter;
        position: absolute;
        top: 12px;
        right: 12px;
        border-radius: 4px;
        background-color: $inputBG;

        &:hover {
          color: $primary;
        }
      }
    }

    @include desktop {
      $gap: 18px;
      grid-template-columns: repeat(3, calc((100% - $gap * 2) / 3));
      grid-auto-rows: 300px;
      gap: $gap;

      .project-card {
        .toggle-project-options {
          top: 18px;
          right: 18px;
          width: 32px;
          height: 32px;
        }

        // .project-options {
        // }

        .project-contents {
          .project-progress {
            padding-top: 18px;
          }
        }
      }
    }
  }
}
