@import "./mixins";

.projects {
  .projects-page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .create-new-project {
      display: flex;
      gap: 4px;

      .button-text {
        display: none;
      }
    }

    @include tablet {
      .create-new-project {
        .button-text {
          display: block;
        }
      }
    }

    @include desktop {
      margin-bottom: 18px;
    }
  }

  // Project container
  // this is parent of project-card
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 12px) / 2));
    grid-auto-rows: 250px;
    gap: 12px;

    @include desktop {
      grid-template-columns: repeat(3, calc((100% - 18px * 2) / 3));
      grid-auto-rows: 300px;
      gap: 18px;
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(4, calc((100% - 18px * 2) / 4));
    }

    @media screen and (min-width: 1600px) {
      grid-template-columns: repeat(5, calc((100% - 18px * 2) / 5));
    }
  }
}
