@import "./mixins";

.projects {
  .projects-page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .create-new-project {
      display: flex;
      gap: 4px;

      .button-text {
        display: none;
      }
    }

    @include desktop {
      margin-bottom: 18px;
    }
  }

  // Project container
  // this is parent of project-card
  .projects-container {
    $gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - $gap) / 2));
    grid-auto-rows: 250px;
    gap: $gap;

    @include desktop {
      $gap: 18px;
      grid-template-columns: repeat(3, calc((100% - $gap * 2) / 3));
      grid-auto-rows: 300px;
      gap: $gap;
    }
  }
}
