@import "./components/styles/mixins";
@import "./components/styles/globalStyles";

body {
  padding: 0 18px 18px 18px;
  margin: 0;
  background-color: $white;

  @include desktop {
    padding: 0 60px 60px 60px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}
