@media (min-width: 1400px) {
  .page {
    padding: 0 80px;
  }
}
@media (min-width: 1700px) {
  .page {
    padding: 0 120px;
  }
}

.MuiButtonGroup-root {
  box-shadow: none;
}

.MuiButton-root {
  padding: 7px 14px;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  box-shadow: none;
}
@media (min-width: 1024px) {
  .MuiButton-root {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
  }
}

.MuiButton-outlined {
  border: solid 3px;
  padding: 5px 17px;
}
.MuiButton-outlined:hover {
  border: solid 3px;
}
@media (min-width: 1024px) {
  .MuiButton-outlined {
    padding: 9px 21px;
  }
}

.mui-button {
  padding: 2px;
  border-radius: 6px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  box-shadow: none;
}
@media (min-width: 1024px) {
  .mui-button {
    font-size: 16px;
    padding: 16px 32px;
  }
}

.default-button {
  padding: 12px 24px;
  background-color: #5b87f8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: 0.1s ease-in;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .default-button {
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 8px;
  }
}
.default-button:hover {
  background-color: #0f1975;
}

.bordered-button {
  border: solid 4px #5b87f8;
  background-color: transparent !important;
  color: #121212 !important;
  padding: 4px 16px;
}
.bordered-button:hover {
  color: #fff !important;
  background-color: #5b87f8 !important;
}
@media (min-width: 1024px) {
  .bordered-button {
    padding: 8px 24px;
  }
}

.invicible-button {
  background-color: transparent !important;
  color: #121212 !important;
}
.invicible-button:hover {
  background-color: #121212 !important;
  color: #fff !important;
}

.bordered-container {
  background-color: #fcfdff;
  box-shadow: inset 0 0 0 2px #cfd0eb;
  border-radius: 16px;
  padding: 12px;
}
@media (min-width: 1024px) {
  .bordered-container {
    padding: 18px;
    border-radius: 24px;
  }
}

.text-box {
  padding: 16px 12px;
  background-color: #f0f0f2;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
}
.text-box:focus {
  outline: solid 2px #cfd0eb;
}
.text-box::-moz-placeholder {
  color: rgba(18, 18, 18, 0.6);
}
.text-box::placeholder {
  color: rgba(18, 18, 18, 0.6);
}
@media (min-width: 1024px) {
  .text-box {
    padding: 20px 16px;
  }
}

.header1 {
  font-family: "Inter", sans-serif;
  color: #121212;
  font-size: 42px;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .header1 {
    font-size: 92px !important;
  }
}

.header2 {
  font-family: "Inter", sans-serif;
  color: #121212;
  font-size: 24px;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .header2 {
    font-size: 32px !important;
  }
}

.header3 {
  font-family: "Inter", sans-serif;
  color: #121212;
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .header3 {
    font-size: 24px !important;
  }
}

.label {
  font-family: "Inter", sans-serif;
  color: #121212;
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .label {
    font-size: 14px !important;
  }
}

.card-title {
  font-family: "Inter", sans-serif;
  color: #121212;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .card-title {
    font-size: 16px !important;
  }
}

.header-text-description {
  font-family: "Inter", sans-serif;
  color: rgba(18, 18, 18, 0.8);
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .header-text-description {
    font-size: 23px !important;
  }
}

.body-text {
  font-family: "Inter", sans-serif;
  color: rgba(18, 18, 18, 0.8);
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .body-text {
    font-size: 18px !important;
  }
}

button,
input[type=submit] {
  font-family: "Inter", sans-serif;
  color: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
button:disabled,
input[type=submit]:disabled {
  opacity: 0.6;
  cursor: default;
}
@media (min-width: 1024px) {
  button,
  input[type=submit] {
    font-size: 16px;
  }
}

.stretch {
  width: calc(100% + 36px);
  margin-left: -18px;
}
@media (min-width: 1024px) {
  .stretch {
    width: calc(100% + 120px);
    margin-left: -60px;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5b87f8;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb :hover {
  background-color: #5985f8;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  height: 10px;
}

.profile-image {
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image img {
  height: auto !important;
  width: 100% !important;
}

.modal-container-background {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 60px 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container-background .modal {
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}
.modal-container-background::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0 18px 18px 18px;
  margin: 0;
  background-color: #fcfdff;
}
@media (min-width: 1024px) {
  body {
    padding: 0 60px 60px 60px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

::-moz-selection {
  background-color: #0f1975;
  color: #fff;
}

::selection {
  background-color: #0f1975;
  color: #fff;
}/*# sourceMappingURL=index.css.map */